{% extends 'base.html' %}

{% block content %}
<div class="news">
    <h2>{{ article.title }}</h2>
    {% if article.list_pic %}
    <img src="{{ article.list_pic }}" />
    {% else %}
    {% if article.big_pic %}
    <img src="{{ article.big_pic }}" />
    {% endif %}
    {% endif %}

    <p>Tag: {{ article.tag.name }} From: {{ article.tag.come_from }}
        Updated: {{ article.update_time}} Comments: {{ article.docid }}</p>
{% autoescape off %}
{{ article.content }}
{% endautoescape %}

<!-- 多说评论框 start -->
<div id="comments">
<div class="ds-thread" data-thread-key="{{ article.id }}" data-title="{{ article.title }}" data-url="http://localhost/news/{{ article.id }}/"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
  var duoshuoQuery = {short_name:"17relax"};
(function() {
  var ds = document.createElement('script');
  ds.type = 'text/javascript';ds.async = true;
  ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
  ds.charset = 'UTF-8';
  (document.getElementsByTagName('head')[0] 
   || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- 多说公共JS代码 end -->
</div>
</div>
{% endblock %}

