{% extends 'base.html' %}

{% block title %}{{ tag.name }} - {% endblock %}


{% block content %}
<ul class="unstyled topic-list">
    {% for article in news %}
    <li>
        <a title="{{ article.title }}" href="/news/{{ article.id }}/">
          <img class="lazy" src="{{ article.list_pic }}" data-original="{{
          article.list_pic}}" alt="{{ article.title }}">
          <noscript><img src="{{ article.list_pic }}" alt="{{ article.title }}"></noscript>
        </a>
        
        <h3><a href="/news/{{ article.id }}/" class="bigger-size">
            {{ article.title }}
        </a></h3>
        <time>{{ article.update_time }}</time>
        <span class="view-count"><strong>{{ article.comment_num }}</strong> 人围观,</span> <span class="ds-thread-count" data-thread-key=""></span>
         <span class="download">,<a title="下载txt" href="">下载</a></span>
         {% autoescape off %}
         <p>{{ article.abstract }}</p>
         {% endautoescape %}
    </li>
    {% endfor %}
</ul>

<div class="pagination">
  <ul>
    {% if news.has_previous %}
    <li><a href="/tag/{{ tag.id }}/page/{{ news.previous_page_number }}/">Prev</a></li>
    {% endif %}
    <li>Page {{ news.number }} of {{ news.paginator.num_pages }}</li>

    {% if news.has_next %}
    <li><a href="/tag/{{ tag.id }}/page/{{ news.next_page_number }}/">Next</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}

