{% extends 'base.html' %}


{% block title %}首页 - {% endblock %}

{% block content %}

<div id="relaxMoment" class="row-fluid">
  <ul class="unstyled topic-list">
    {% for article in relax_news %}
    <li class="span3">
        <h3>
            <a href="/news/{{ article.id }}/" class="bigger-size">{{ article.title }}</a>
        </h3>
      <div class="meta">
        <time>{{ article.update_time }}</time>
        <span class="view-count"><strong>{{ article.comment_num }}</strong> 人围观,</span> <span class="ds-thread-count" data-thread-key=""></span>
        <span class="download">,<a title="下载txt" href="">下载</a></span>
      </div>
      <div>
        <a title="{{ article.title }}" href="/news/{{ article.id }}/">
          <img class="img-polaroid lazy" src="{{ article.list_pic }}" data-original="{{ article.list_pic }}" alt="{{ article.title }}">
          <noscript><img src="{{ article.list_pic }}" alt="{{ article.title }}"></noscript>
        </a>
      </div>
      <p class="text-info float-left news-brief">{{ article.abstract }}</p>
    </li>
    {% endfor %}
  </ul>
  <ul class="unstyled topic-list">
    {% for article in voice_news %}
    <li class="span3">
        <h3>
            <a href="/news/{{ article.id }}/" class="bigger-size">{{ article.title }}</a>
        </h3>
      <div class="meta">
        <time>{{ article.update_time }}</time>
        <span class="view-count"><strong>{{ article.comment_num }}</strong> 人围观,</span> <span class="ds-thread-count" data-thread-key=""></span>
        <span class="download">,<a title="下载txt" href="">下载</a></span>
      </div>
      <div>
        <a title="{{ article.title }}" href="/news/{{ article.id }}/">
          <img class="img-polaroid lazy" src="{{ article.list_pic }}" data-original="{{ article.list_pic }}" alt="{{ article.title }}">
          <noscript><img src="{{ article.list_pic }}" alt="{{ article.title }}"></noscript>
        </a>
      </div>
      <p class="text-info float-left news-brief">{{ article.abstract }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
<hr> 
<div id="tucao_laping" class="row-fluid">
  <ul class="unstyled topic-list">
    {% for article in tucao_news %}
    <li class="span3">
        <h3>
            <a href="/news/{{ article.id }}/" class="bigger-size">{{ article.title }}</a>
        </h3>
      <div class="meta">
        <time>{{ article.update_time }}</time>
        <span class="view-count"><strong>{{ article.comment_num }}</strong> 人围观,</span> <span class="ds-thread-count" data-thread-key=""></span>
        <span class="download">,<a title="下载txt" href="">下载</a></span>
      </div>
      <div>
        <a title="{{ article.title }}" href="/news/{{ article.id }}/">
          <img class="img-polaroid lazy" src="{{ article.list_pic }}" data-original="{{ article.list_pic }}" alt="{{ article.title }}">
          <noscript><img src="{{ article.list_pic }}" alt="{{ article.title }}"></noscript>
        </a>
      </div>
      <p class="text-info float-left news-brief">{{ article.abstract }}</p>
    </li>
    {% endfor %}
  </ul>
  <ul class="unstyled topic-list">
    {% for article in laping_news %}
    <li class="span3">
        <h3>
            <a href="/news/{{ article.id }}/" class="bigger-size">{{ article.title }}</a>
        </h3>
      <div class="meta">
        <time>{{ article.update_time }}</time>
        <span class="view-count"><strong>{{ article.comment_num }}</strong> 人围观,</span> <span class="ds-thread-count" data-thread-key=""></span>
        <span class="download">,<a title="下载txt" href="">下载</a></span>
      </div>
      <div>
        <a title="{{ article.title }}" href="/news/{{ article.id }}/">
          <img class="img-polaroid lazy" src="{{ article.list_pic }}" data-original="{{ article.list_pic }}" alt="{{ article.title }}">
          <noscript><img src="{{ article.list_pic }}" alt="{{ article.title }}"></noscript>
        </a>
      </div>
      <p class="text-info float-left news-brief">{{ article.abstract }}</p>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="today_news" class="row-fluid">
  <ul class="unstyled topic-list span8">
    {% for article in news %}
    <li>
        <a title="{{ article.title }}" href="/news/{{ article.id }}/">
          <img class="lazy" src="{{ article.list_pic }}" data-original="{{
          article.list_pic}}" alt="{{ article.title }}">
          <noscript><img src="{{ article.list_pic }}" alt="{{ article.title }}"></noscript>
        </a>
        
        <h3><a href="/news/{{ article.id }}/" class="bigger-size">
            {{ article.title }}
        </a></h3>
        <time>{{ article.update_time|date:"Y-m-d H:i" }}</time>
        <span class="view-count">
            <a href="/tag/{{ article.tag.id }}/">{{ article.tag.name }}</a></span>
        <span class="view-count"><strong>{{ article.comment_num }}</strong> 人围观,</span> <span class="ds-thread-count" data-thread-key=""></span>
         <span class="download">,<a title="下载txt" href="">下载</a></span>
         {% autoescape off %}
         <p>{{ article.abstract }}</p>
         {% endautoescape %}
    </li>
    {% endfor %}
<div class="pagination">
  <ul>
    {% if news.has_previous %}
    <li><a href="/?p={{ news.previous_page_number }}">Prev</a></li>
    {% endif %}
    <li>Page {{ news.number }} of {{ news.paginator.num_pages }}</li>

    {% if news.has_next %}
    <li><a href="/?p={{ news.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</div>
</ul>
</div>
{% endblock %}
